@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

body {
    background:antiquewhite;
}

#header {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

#calc {
    text-align: center;
    width: 500px;
    display: block;
    border-radius:8px;
    border: 1px solid;
    bordel-color: #abc6c2;
    padding:8px;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
    background: darkcyan;
}

#display {
    background: #f3f0f0;
    padding: 8px;
    margin:16px 12px 10px 16px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    border-radius:8px;
}

#result p{
    font-size:2em;
}

#result,
#previous {
    text-align: right;

}

#keyboard {
    display: inline-block;
    text-align: center;
    margin-bottom:14px;
}

.row {
    margin-top: 8px;
}

.last-row {
    float:left;
    margin-top: -11.5%;
}

button {
    width: 62px;
    margin: 2px;
}

.invisible {
    width:0;
}

.btn-zero {
    width: 194px;
}

.btn-reslt {

    align-items: end;
    float:right;
    /*margin-left:4px;*/
    /*height: 74px;*/
}

